<div>
  <!-- sidebar -->
  <div class="position-absolute m-2"style="width: 10vw; height: 90vh; display: flex; flex-direction: column;">
    <div>
      <div class="border rounded-lg border-secondary">
        <div class="font-weight-bold m-2">Players</div>
        <div *ngFor="let player of game.players" class="m-2">
            {{player.playerName}}
        </div>
      </div>
      <button *ngIf="game.state == 1" (click)="startGame()" class="btn btn-success mt-2 w-100">Start</button>
      <button *ngIf="game.state == 5" (click)="throwDice()" class="btn btn-success mt-2 w-100">Throw dice</button>
    </div>
    <div style="margin-top:auto;">
      <button  (click)="leaveGame()" class="btn btn-danger mt-2 w-100">Leave Game</button>
    </div>
  </div>

  <!-- game board -->
  <div class="bg-light" style="width: 100vw; height: 95vh;">
    <div></div>
    <app-game-gameboard [gameboard]="game.gameboard"></app-game-gameboard>
  </div>
</div>
