<!-- user name -->
<div class="container text-center w-25" style="margin-top: 15vh;">
	<input class="container form-control text-center bg-light" id="username" placeholder="Name">
</div>

<!-- game options -->
<div class="container text-center w-50" style="margin-top: 10vh;">
  	<form class="d-inline">
      	<button class="btn btn-dark m-2">New Game</button>
	</form>
    <div class="d-inline m-4 text-dark">or</div>
    <div class="d-inline form-inline">
      	<input class="container form-control text-center bg-light" id="gameId" placeholder="Game ID">
      	<button class="btn btn-dark m-2">Join Game</button>
	</div>
</div>